<p-card
  header="{{ character.name }}"
  [style]="{ width: '300px',margin: '1rem', padding: '1rem' }"
  styleClass="card-container inline-block h-30rem"
>
  <ng-template pTemplate="header">
    <figure>
      <img
        rel="preload"
        as="image"
        src="{{ character.image }}"
        alt="{{ character.name }}"
      />
    </figure>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Details"
      icon="pi pi-info-circle"
      (onClick)="display = true"
    ></p-button>
  </ng-template>
</p-card>

<ng-container *ngIf="display">
  <app-character-details
    (dialogClosed)="display = $event"
    [nameToFilter]="character.name"
    [display]="display"
  ></app-character-details>
</ng-container>
