<p-card
  header="{{ character.name }}"
  [style]="{ width: '300px', margin: '0.7rem', padding: '1rem' }"
  styleClass="card-container inline-block "
>
  <ng-template pTemplate="header">
    <figure>
      <img
        rel="preload"
        as="image"
        src="{{ character.image }}"
        alt="{{ character.name }}"
      />
    </figure>
  </ng-template>
  <div>
    <ul>
      <li><label>Status: </label> {{ character.status }}</li>
      <li><label>Species: </label> {{ character.species }}</li>
      <li><label>Gender: </label> {{ character.gender }}</li>
    </ul>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Details"
      icon="pi pi-info-circle"
      (onClick)="display = true"
    ></p-button>
  </ng-template>
</p-card>

<ng-container *ngIf="display">
  <app-character-details
    (dialogClosed)="display = $event"
    [nameToFilter]="character.name"
    [display]="display"
  ></app-character-details>
</ng-container>
