<div class="card my-5">
  <div class="flex justify-content-center">
    <div class="flex align-items-center justify-content-center">
      <p-listbox
        [options]="(episodes$ | async)!"
        [metaKeySelection]="false"
        [checkbox]="true"
        [filter]="true"
        optionLabel="name"
        [listStyle]="{ 'max-height': '450px;' }"
        [style]="{ width: '20rem' }"
      >
        <ng-template let-episode pTemplate="item">
          <div class="flex" (click)="openEpisodeDetails(episode.name)">
            <div>{{ episode.episode }}</div>
            <div>- {{ episode.name }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>
</div>
<app-episodes-details
  [display]="displayEpisodeDetails"
  [nameToFilter]="selectedEpisodeName"
  (closeEpisodeDetails)="episodeDetailsClosed($event)"
></app-episodes-details>
